html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar{
    position: fixed;
    top:0;
    left:0; 
    right:0;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid black;
}
.barItem {
    display: inline-block;
    align-items: center;
    padding-right:25px;
    color: black;
    font-size: 15px;
}


.projectPageHeader{
    padding-top: 1%;
    background-color: white;
    min-height: 5%;
    color:black;
    align-items: center;
    text-align: center;
    padding-bottom: 1%;
    font-size: 60px;
    border-bottom: 4px solid black;
}

.orderUpProject{
    padding-top: 50px;
    background-color: white;
    min-height: 25%;
    border-bottom: 4px solid black;
}
.orderUpProjectText{
    padding-left: 10%;
    color: black;
    padding-right:30%;
   
}



.neatProject{
    padding-top: 50px;
    background-color: white;
    min-height: 25%;
    border-bottom: 4px solid black;
}
.neatProjectText{
    padding-left: 10%;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}
.neatProjectTitle{
    padding-left: 10%;
    color: black;
    padding-right:30%
}


.physicsProject{
    padding-top: 50px;
    background-color: white;
    min-height: 25%;
    border-bottom: 4px solid black;
}
.physicsProjectText{
    padding-left: 10%;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}
.physicsProjectTitle{
    padding-left: 10%;
    color: black;
    padding-right:30%    
}


.sitCounterProject{
    padding-top: 50px;
    background-color: white;
    min-height: 25%;
    border-bottom: 2px solid black;
}
.sitCounterProjectText{
    padding-left: 10%;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}
.sitCounterProjectTitle{
    padding-left: 10%;
    color: black;
    padding-right:30%
}
